@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Choose product category</h2>
<div>
    @Html.DropDownList("categories", ViewData["categories"] as SelectList, new { @class = "category_box" })
</div>

@section Scripts{



}
