<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="UKOmnimarkEntities" connectionString="metadata=res://*/UKListingModel.csdl|res://*/UKListingModel.ssdl|res://*/UKListingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.238.95.68;initial catalog=UKOmnimark;user id=ukomnimark;Password=%H0gr0y4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="UKOmnimarkEntities" connectionString="metadata=res://*/UKListing.csdl|res://*/UKListing.ssdl|res://*/UKListing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.238.95.68;initial catalog=UKOmnimark;persist security info=True;user id=ukomnimark;password=%H0gr0y4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
    <add name="UKOmnimarkEntities" connectionString="metadata=res://*/UKListing.csdl|res://*/UKListing.ssdl|res://*/UKListing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.238.95.68;initial catalog=UKOmnimarkNew;persist security info=True;user id=ukomnimarknew;password=rzV7w43&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup></configuration>
