<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="Startbutton">
      <section name="Main" type="Startbutton.ConfigSections.Main" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup></configSections>
  <Startbutton>
    <Main defaultConnectionString="Main" />
  </Startbutton>
  <connectionStrings>
    <add name="UKOmnimarkEntities" connectionString="metadata=res://*/UKListing.csdl|res://*/UKListing.ssdl|res://*/UKListing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=104.238.95.68;initial catalog=UKOmnimarkNew;persist security info=True;user id=ukomnimarknew;password=rzV7w43&amp;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="UKMain" connectionString="server=tcp:104.238.95.68;Initial Catalog=UKOmnimarkNew;User ID=ukomnimarknew;password=rzV7w43&amp;;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/OmnimarkAmazon.csdl|res://*/OmnimarkAmazon.ssdl|res://*/OmnimarkAmazon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:104.238.95.68;Initial Catalog=DBOmnimark;User ID=amazonomnimark;Password=oMbr447!;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=false&quot;" providerName="System.Data.EntityClient" />
    <add name="Main" connectionString="Server=tcp:104.238.95.68;Initial Catalog=DBOmnimark;User ID=amazonomnimark;Password=oMbr447!;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.EntityClient" />
    <add name="Mainx" connectionString="Server=tcp:104.238.95.68;Initial Catalog=DBOmnimark;User ID=amazonomnimark;Password=oMbr447!;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.EntityClient" />
   
  </connectionStrings>
  <appSettings>
     <!-- Minimum value and addition to minimum value according to ranges of prices -->
    <add key="ProdPriceMinValUK" value="57.49"/>
    <add key="ProdPriceAddToMinValUK" value="12"/>
    
    <add key="ProductQty" value="3"/>
    <add key="FulfillmentLatency" value="4"/>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="NewPurchaseOrderNotificationList" value="censoftg60@gmail.com" />
    <add key="NewReceivedShipmentNotificationList" value="marketing@virodyne.com" />
    <add key="SMTPServer" value="dedrelay.secureserver.net" />
    <add key="SMTPUser" value="systememail@revupcommerce.com" />
    <add key="SMTPPassword" value="D8e#37!" />
    <add key="SMTPNoSSL" value="true" />
    <!-- BEGIN eBay weirdness -->
    <add key="Environment.ApiServerUrl" value="https://api.ebay.com/wsapi" />
    <add key="UserAccount.ApiToken" value="AgAAAA**AQAAAA**aAAAAA**LlbXUg**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6wFk4qpAJKCoASdj6x9nY+seQ**QRcCAA**AAMAAA**nhphX3FIfat+mWpSKN7/f2jSfqGwoQivoOChEjHKRTy8/O4oBiBDFtX4rwEkTRpCTY9JfhKjXFeI7VC9F9Ee3DYBNVA6O2eGII4UJB/g/7Xeung4dvlUSBDehFPm1+J+5cJ44Q4hZ1v/mTVFRaIVWTZxqyPLOlgFvIGEvs8EAegyY9wxE6uny8lM9WBQ4i2ESdUN9RvHL8t+ra0N+DgXSvZkp5Wzq/FzOA4PQP8njY7fe7A5eQmhViXfMZdT6AYt4MQdpXbtpMgK6aDFIIq+YouH3ldNNtx012SJbSm/uY7blvJizsUQRXg1QGa7bQYRGcnnkNeQnV5jkc3sG7BTbRBerTeWxBk9rFZYceMu2Q2JMQrsfqtf8mCv1AnZsLmMVGmqmCbYqTDjDlJPQN3kgqjNIwC8WHVkGSPiFo/i/pv77QYrYJwCpyWp2/31qGMFOHriq6kziwqUlh54vXpvVbkBOpYYgmHIdQPatIWP2RM4YVTWz3XQyLqM+gO+C9qE95Qr6/BK2WhwYiAQvSKXe0SAtXoOxgnm0gSh1fh6ozcod2jAzcDgjFgZoE9oIavrTuI4YQnQLj7iSfn1zJXLwnwgroQpcTyI9VxzEQc8Ce8BPV4o7F3Zmvk9A+Cxnl6Pv7RJ2rb0eZtJvizv3zN3Q6QIHsCrUQDNhOZVycLfPH544iMwvx6s3UGfe2gFF7+rLy2IAPA0EDmQbEplN8uSZuSIdjHPdVEA6rjPO1xDspoO3hGocHJhPsfiFHvKmMD7" />
    <!-- END eBay weirdness -->
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
  </appSettings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    <pages pageBaseType="System.Web.Mvc.WebViewPage">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Startbutton.Web.HtmlHelperExtensions" />
        <add namespace="MvcPaging" />
        <add namespace="OmnimarkAmazon.Models" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <system.web>
    <!--<identity impersonate="true" userName="omnimark" password="Revup2009!" />-->
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="Main" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile inherits="OmnimarkAmazon.Models.UserProfile">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Main" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="Main" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Main" />
    <errorMail from="automailer@amazon.revupcommerce.com" to="rayzer42@gmail.com" async="true" useSsl="false" />
  </elmah>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod ="Network">
        <network host="208.109.217.94" userName="systememail@revupcommerce.com" password="D8e#37!" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>