<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer xdt:Transform="Insert">
    <security>
      <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <add allowed="true" ipAddress="23.96.112.53" subnetMask="255.255.255.255" />
        <add allowed="true" ipAddress="76.113.13.65" subnetMask="255.255.255.255" />
        <add allowed="true" ipAddress="97.68.219.78" subnetMask="255.255.255.255" />
        <add allowed="true" ipAddress="184.88.250.234" subnetMask="255.255.255.255" />
        <add allowed="true" ipAddress="111.235.90.201" subnetMask="255.255.255.255" /><!-- Karen 1 -->
        <add allowed="true" ipAddress="49.150.8.194" subnetMask="255.255.255.255" /><!-- Karen 2 -->
        <add allowed="true" ipAddress="69.120.193.192" subnetMask="255.255.255.255" /><!-- John Home -->
        <add allowed="true" ipAddress="119.95.251.233" subnetMask="255.255.255.255"/><!-- Karen 9/18/2014 -->
        <add allowed="true" ipAddress="112.206.65.74" subnetMask="255.255.255.255"/><!-- Karen 2 -->
        <add allowed="true" ipAddress="112.200.115.158" subnetMask="255.255.255.255"/><!-- Ayleen -->
        <add allowed="true" ipAddress="71.36.49.77" subnetMask="255.255.255.255"/><!-- Amanda's -->
        <add allowed="true" ipAddress="71.47.8.144" subnetMask="255.255.255.255"/><!-- Denis -->
        <add allowed="true" ipAddress="75.161.97.128" subnetMask="255.255.255.255"/><!-- Newton's Cradle -->
        <add allowed="true" ipAddress="67.0.164.48" subnetMask="255.255.255.255"/><!-- Ray Home -->
        <add allowed="true" ipAddress="184.88.231.111" subnetMask="255.255.255.255"/><!-- Jason Home -->
        <add allowed="true" ipAddress="63.247.179.186" subnetMask="255.255.255.255"/><!-- Jason Parents -->
      </ipSecurity>
    </security>
  </system.webServer>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>