<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="Entities" connectionString="metadata=res://*/OmnimarkAmazon.csdl|res://*/OmnimarkAmazon.ssdl|res://*/OmnimarkAmazon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:fwgw79ca9c.database.windows.net,1433;Database=omnimark;User ID=omnimark@fwgw79ca9c;Password=jZRF52a9vJIcNEH_PdzuubDyx-w_mlft;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;&quot;" providerName="System.Data.EntityClient" />
    <add name="Main" connectionString="Server=tcp:fwgw79ca9c.database.windows.net,1433;Database=omnimark;User ID=omnimark@fwgw79ca9c;Password=jZRF52a9vJIcNEH_PdzuubDyx-w_mlft;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.EntityClient" />
    <add name="Mainx" connectionString="data source=67.199.15.60;initial catalog=OmnimarkAmazon;persist security info=True;user id=omnimarkamazon;password=U2z7c4pnR2/BBbrc5Ia2yVzki4pS;multipleactiveresultsets=True" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/OmnimarkAmazon.csdl|res://*/OmnimarkAmazon.ssdl|res://*/OmnimarkAmazon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JOHN-PC\SQLEXPRESS;Initial Catalog=omnimark-2014-12-3-10-47;Integrated Security=True;Encrypt=False;Connection Timeout=30;multipleactiveresultsets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Main" connectionString="Data Source=JOHN-PC\SQLEXPRESS;Initial Catalog=omnimark-2014-12-3-10-47;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Mainx" connectionString="Data Source=JOHN-PC\SQLEXPRESS;Initial Catalog=omnimark-2014-12-3-10-47;Integrated Security=True" providerName="System.Data.EntityClient"/>-->

    <!--<add name="Entities" connectionString="metadata=res://*/OmnimarkAmazon.csdl|res://*/OmnimarkAmazon.ssdl|res://*/OmnimarkAmazon.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=JOHN-PC\TIMEMATTERS;Initial Catalog=DBOmnimark;Integrated Security=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="Main" connectionString=" Data Source=JOHN-PC\TIMEMATTERS;Initial Catalog=DBOmnimark;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Mainx" connectionString=" Data Source=JOHN-PC\TIMEMATTERS;Initial Catalog=DBOmnimark; Integrated Security=True" providerName="System.Data.EntityClient"/>-->

    <!--<add name="Entities" connectionString="metadata=res://*/OmnimarkAmazon.csdl|res://*/OmnimarkAmazon.ssdl|res://*/OmnimarkAmazon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:104.238.95.68;Initial Catalog=omnimarkdb;User ID=omnimarkamazon;Password=3Zxh$y72;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=false&quot;" providerName="System.Data.EntityClient" />
    <add name="Main" connectionString="Server=tcp:104.238.95.68;Initial Catalog=omnimarkdb;User ID=omnimarkamazon;Password=3Zxh$y72;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.EntityClient" />
    <add name="Mainx" connectionString="Server=tcp:104.238.95.68;Initial Catalog=omnimarkdb;User ID=omnimarkamazon;Password=3Zxh$y72;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.EntityClient" />-->

    <add name="Entities" connectionString="metadata=res://*/OmnimarkAmazon.csdl|res://*/OmnimarkAmazon.ssdl|res://*/OmnimarkAmazon.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:104.238.95.68;Initial Catalog=DBOmnimark;User ID=amazonomnimark;Password=oMbr447!;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=false&quot;" providerName="System.Data.EntityClient" />
    <add name="Main" connectionString="Server=tcp:104.238.95.68;Initial Catalog=DBOmnimark;User ID=amazonomnimark;Password=oMbr447!;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.EntityClient" />
    <add name="Mainx" connectionString="Server=tcp:104.238.95.68;Initial Catalog=DBOmnimark;User ID=amazonomnimark;Password=oMbr447!;Trusted_Connection=False;Encrypt=false;Connection Timeout=60; multipleactiveresultsets=True" providerName="System.Data.EntityClient" />


  
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>